@font-face {
    font-family: 'book_worm';
    src: url('/static/letras/book_worm.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    /*border: solid 2px red;*/
}

body {
    cursor: url('/static/images/cursor.png'), auto;
    background-image: url('../images/fondo_salon.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
}

header {
    margin-top: 15px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    color: white;
    font-family: 'book_worm', 'sans-serif';
}

p {
    margin-bottom: 10px;
    font-family: 'book_worm', 'sans-serif';
    color: white;
    font-size: 20px;
}

input[type="number"] {
    width: 140px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #16c9a2;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'book_worm', 'sans-serif';
}

.btnResponder {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 2px solid #2aaf92;
    color: #ffffff;
    background-color: #2aaf92;
    border-radius: 10px;
}

.btnResponder:hover {
    background-color: #27dab3;
    transition: background-color 0.3s, color 0.3s;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOTÓN - REGRESAR */

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-right: 500px;
}

#btnRegresar {
    height: 0px;
    margin-right: 450px;
    margin-bottom: 40px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.icono {
    width: 50px;
    height: 50px;
    background-image: url('/static/images/atras.png');
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
}