<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/estilos_registro_exitoso.css">
    <title>MateAprende</title>
</head>

<body>
    <div class="contenedorMensaje">
        <h2 class="titulo">Correo de verificación</h2>
        <p class="mensaje">Se te ha enviado el correo de verificación. Por favor, verifica tu correo antes de iniciar
            sesión.</p>
        <div class="contenedorBoton">
            <a class="btnLogin" href="/login">Ir a Login</a>
        </div>
    </div>
</body>

</html>